body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "@tsamantanis/react-glassmorphism/dist/index.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-carousel .slick-dots {
  margin-left: 0 !important;
}
.ant-tabs {
  margin: 0 auto !important;
}
.home__list-films {
  background: linear-gradient(
    to bottom,
    #000000,
    #0d070a,
    #150e14,
    #19141c,
    #1c1924,
    #1c1924,
    #1c1924,
    #1c1924,
    #19141c,
    #150e14,
    #0d070a,
    #000000
  );
}
